*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  background: #919f89;
}
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}
.header-area {
  background: linear-gradient(#e2b8ac, rgba(49, 45, 45, 0.5)),url(images/c4.jpg);
  background-position: center center;
  background-size: cover;
}

.navbar-area {
  background: rgba(0,0,0,.6);
  border-bottom: 1px solid #000;
}
.site-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a.site-logo {
  font-size: 26px;
  font-weight: 800;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
}
.site-navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.site-navbar ul li a {
  color: #fff;
  padding: 20px 40px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
}
.site-navbar ul li a:hover {
  background: rgba(255,255,255,.1);
}

.nav-toggler {
  border: 3px solid #fff;
  padding: 5px;
  background-color: transparent;
  cursor: pointer;
  height: 39px;
  display: none;
}
.nav-toggler span, 
.nav-toggler span:before, 
.nav-toggler span:after {
  width: 28px;
  height: 3px;
  background-color: #fff;
  display: block;
  transition: .3s;
}
.nav-toggler span:before {
  content: '';
  transform: translateY(-9px);
}
.nav-toggler span:after {
  content: '';
  transform: translateY(6px);
}
.nav-toggler.toggler-open span {
  background-color: transparent;
}
.nav-toggler.toggler-open span:before {
  transform: translateY(0px) rotate(45deg);
}
.nav-toggler.toggler-open span:after {
  transform: translateY(-3px) rotate(-45deg);
}
/* nav-toggler css start */


/* intro-area css start */
.intro-area {
  height: calc(100vh - 61px);
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
}
.intro-area h2 {
  font-size: 50px;
  font-weight: 300;
  line-height: 50px;
  margin-bottom: 25px;
}
.intro-area p {
  font-size: 18px;
}

.footer-distributed{
	background: #404142;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed {
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed {
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 720px;
    
  }
  /* navbar css for mobile start */
  .nav-toggler{
    display: block;
  }
  .header-area {
    background: linear-gradient(#e2b8ac, rgba(49, 45, 45, 0.5)),url(images/c4.jpg);
    background-position: center center;
    background-size: cover;
    max-height:700px ;
  }
  .site-navbar {
    min-height: 60px;
  }
  .site-navbar ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 60px);
    left: 0;
    top: 60px;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #444;
    background-color: rgba(0,0,0,.75);
    max-height: 0;
    overflow: hidden;
    transition: .3s;
  }
  .site-navbar ul li {
    width: 100%;
    text-align: center;
  }
  .site-navbar ul li a {
    padding: 25px;
  }
  .site-navbar ul li a:hover {
    background-color: rgba(255,255,255,.1);
  }
  .site-navbar ul.open {
    max-height: 40vh;
    overflow: visible;
  }
  .intro-area{
    height: calc(100vh - 40vh);
  }
  .intro-area h2 {
    font-size: 28px;
    margin-bottom: 13px;
  }  
  
  .footer-distributed{
		font: bold 12px sans-serif;
    height: 80%;
    padding-top: 3%;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 30px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}
}

h2{
  font-style: oblique;
}
.mid {
  display: flex;
  justify-content: space-between;
  margin-top: 1%;
  
}

.mid img {
  flex: 1;
  margin-right: 20px; /* Adjust as needed */
  max-height: 300px; /* Adjust as needed */
  object-fit:scale-down; /* This will make sure your image scales properly */
  border-radius: 4%;
}

.mid .story {
  flex: 2;
  max-height: 200px; 
  margin: 5%;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
  width: 80%;
  margin-left: 10%;
}

.txt {
  text-align: center;
}

.pic {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 4%;
}

.pic img {
  width: 45%; 
  border-radius: 6%;
}

 .menulink {
  text-align: center;
  margin-bottom: 3%;
  margin-top: 2%;
}

.menulink a {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  background-color: #919f89;
  color: #fff;
  border-radius: 6px;
}
.menulink a:hover {
  background-color: #ddd;
  color: rgb(75, 31, 31);
 }



@media screen and (max-width: 767px) {
  p{
    font-size: 12px;
  }
  h2{
    font-size: 14px;
  }
  .mid {
    flex-direction: column-reverse;
    margin-top: 6%;
  }

  .mid img {
    margin-top: 6%;
    margin-right: 0;
    margin-bottom: 20px;
    max-height: 200px;
    
  }

  .mid .story {
   width: 98%;
   margin-left: 1%;
   text-align: center;
   font-style: italic;
  }
  .pic {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 0;
  }
  
  .pic img {
    width: 80%; 
    border-radius: 2%;
  }

  
  
 }