
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #164a41;
}
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav .logo {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  font-size: 1.5em;
}
.topnav .links{
  float:right;
  display: flex;
  flex-direction: row;
  padding-right: 4%;
}
.topnav .links a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 30px;
  text-decoration: none;
}

.topnav .links a:hover {
  background-color: #ddd;
  color: black;
 }

 .hero {
  /* Replace with the path to your image */
  background-image: url('images/c2.jpg');
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.mid {
  display: flex;
  justify-content: space-between;
}

.mid img {
  flex: 1;
  margin-right: 20px; /* Adjust as needed */
  max-height: 300px; /* Adjust as needed */
  object-fit: cover; /* This will make sure your image scales properly */
}

.mid .story {
  flex: 2;
  max-height: 300px; /* Adjust as needed */
}


.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.txt {
  text-align: center;
}

.pic {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 4%;
}

.pic img {
  width: 20%; /* Adjust as needed */
}
a.menulink {
  text-align: center;
  margin-bottom: 3%;
  margin-top: 2%;
}

a.menulink  {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  background-color: #333;
  color: #fff;
  border-radius: 6px;
}
a.menulink:hover {
  background-color: #ddd;
  color: rgb(75, 31, 31);
 }
 .menulink {
  text-align: center;
  margin-bottom: 3%;
  margin-top: 2%;
}

.menulink a {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  background-color: #333;
  color: #fff;
  border-radius: 6px;
}
.menulink a:hover {
  background-color: #ddd;
  color: rgb(75, 31, 31);
 }
 .foot {
  display: flex;
  justify-content: space-around;
  width: 100%;
  
}

.foot div {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.foot i {
  margin-bottom: 6px; /* Adjust as needed */
  font-size: 25px;
}

@media screen and (max-width: 650px) {
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  .logo {
    display: block;
    text-align: center;
    padding: 14px 16px;
    font-size: 1.5em;
  }
  
  .topnav {
    display: flex;
    flex-direction: column;
  }
  .topnav .links{
    background-color: #333;
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
  }
  .topnav .links a {
    float: center;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
  }
  
  .topnav .links a:hover {
    background-color: #ddd;
    color: black;
  }
  
}